<%- include('./partials/head') %>

<header>
    <img src="../assets/PLUSlogo.svg" alt="PLUS logo" height="20">
    <a href="/grocerylist" aria-label="bekijk je winkelmandje">
        <img src="../images/basket.png" alt="winkelwagen" height="20">
    </a>
</header>

<main>
    <section class="recipe-information">
        <img src="https://fdnd-agency.directus.app/assets/<%= recipe.photo %>" alt="burger">
        <h1> <%= recipe.title %> </h1>
        <div class="icon-container">
        </div>
        <h2>bereiding</h2>
        <p> <%- recipe.preperation %> </p>
    </section>

    <section class="suggestion">
        <h2>variatie tip</h2>
        <p> Snijd de hamburgerbroodjes doormidden en rooster beide kanten tot ze knapperig en goudbruin zijn.</p>
    </section>   
    
    <button aria-label="open om je producten te kiezen">kies je producten</button>
</main>

<section class="grocery-list">
    <!-- <h2>kies je producten</h2> -->
    <% ingredients.forEach(ingredient => { %>
    <ul class="ingredients">
        <li>
            <img src="../images/paprika.webp" height="60" alt="ingredient">
            <h3> <%= ingredient.title %> </h3>
            <p class="ingredient-weight"> <%= ingredient.measure %> <%= ingredient.unit %> </p>
            <p class="ingredient-price">€ <%= ingredient.price %> </p>
            <div class="ingredient-counter">
                <button class="counter-subtract" type="button" aria-label="voeg 1 ingrediënt toe">-</button>
                <p class="counter-display" aria-label="ingredient quantity">1</p>
                <button class="counter-add" type="button" aria-label="verwijder 1 ingrediënt">+</button>
            </div>
        </li>
    </ul>
    <% }) %>
    <section class="groceries-sumup">
        <h2>totaal</h2>
        <p>€ 0,00</p>
    </section>
    <form>
        <button class="" type="submit" aria-label="voeg producten toe aan winkelmandje">toevoegen aan winkelwagen</button>
    </form>
</section>


<%- include('./partials/foot') %>